<% flash.each do |type, message| %>
  <div class="flash-message <%= type %>" 
       data-controller="flash"
       data-action="animationend->flash#remove">
    <div class="flash-message-content">
      <% message.to_s.split("\n").each do |line| %>
        <div><%= line %></div>
      <% end %>
    </div>
  </div>
<% end %>
