<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-6">Edit Project</h1>
  
  <%= turbo_frame_tag "modal" do %>
    <%= render "form", agency: @agency, project: @project %>
  <% end %>
</div>
