<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
<% end %>

<div class="mx-auto max-w-3xl p-4">
  <h1 class="text-2xl font-bold mb-4">Edit Agency</h1>
  <%= render partial: "form", locals: { agency: @agency } %>
</div>